.bikeContainer {
    padding: 20px;
    font-family:
        'Pretendard Variable',
        Pretendard,
        -apple-system,
        BlinkMacSystemFont,
        system-ui,
        Roboto,
        'Helvetica Neue',
        'Segoe UI',
        'Apple SD Gothic Neo',
        'Noto Sans KR',
        'Malgun Gothic',
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol',
        sans-serif;
}

.bikeList {
    list-style-type: none;
    padding: 0;
}

.bikeItem {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.bikeItem h2 {
    margin: 0;
    font-size: 1.5em;
}
